body {
  background-color: white;
  padding: 20px;
}

h1, h2, p, ul, li {
  font-family: Helvetica;
}

ul.header {
  position: fixed;  
  bottom: 50%;
  right: 0;
  width: 100px;  
  backface-visibility: hidden;
  background-color: #111;
  padding: 0;
  margin: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  width: inherit;
}

ul.header li a {
  width: inherit;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  transition-duration: 0.3s;
}

.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}

.panel {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 7vh 7vw;  
  
  &__wrapper {
    padding: 7vh 7vw;
    perspective: 1000px;
  }
  
  &__content {
    will-change: transform;
    transform: $content-animation;
    transform-origin: center 80%;
    opacity: 0;
    transition: $ease;
    
    &--active {
      transform: none;
      opacity: 1;
    }
  }
  
  &__headline {
    font-weight: 700;
    opacity: 0.8;
    font-size: 48px;
    margin: 0 0 25px 0;
  }
  
  p {
    margin: 0 0 25px 0;
    color: lighten(black, 10);
    font-size: 24px;
    max-width: 800px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__block {
    height: 3px;
    background: rgba(black, 0.2);
    margin: 0 0 25px 0;
  }
  
  @media (max-width: 640px) {
    
    &__headline {
      font-size: 36px;
    }
    
    &__wrapper {
      padding: 10vh 10vw;
    }
    
    p {
      font-size: 16px;
    }
  }
}